name: Publish wheel

# on:
#   release:
#     types: [published]

#   # Allows you to run this workflow manually from the Actions tab
#   workflow_dispatch:

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch or tag to publish"
        required: true

jobs:
  build_wheels:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # - {os: ubuntu-latest, arch: x86_64, linux_image: manylinux2014}
          # - {os: ubuntu-latest, arch: x86_64, linux_image: manylinux_2_28}
          # - {os: ubuntu-24.04-arm, arch: aarch64, linux_image: manylinux2014}
          # - {os: ubuntu-24.04-arm, arch: aarch64, linux_image: manylinux_2_28}
          - {os: windows-latest, arch: AMD64, linux_image: ""}
          # - {os: macos-14, arch: arm64, linux_image: ""}

    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: 3.8
        if: runner.os == 'macOS' && runner.arch == 'ARM64'
      - uses: astral-sh/setup-uv@b75a909f75acd358c2196fb9a5f1299a9a8868a4
        if: matrix.os != 'macOS' || matrix.arch != 'arm64'

      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event_name == 'workflow_dispatch' && inputs.branch || github.ref }}
          submodules: recursive
          fetch-depth: 0
          fetch-tags: true
        
      # - name: Install tvm-ffi
      #   run: |
      #     pip install -ve ./extensions/tvm-ffi

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.1.4
        env:
          CIBW_ARCHS_MACOS: ${{ matrix.arch }}
          CIBW_ARCHS_LINUX: ${{ matrix.arch }}
          CIBW_ARCHS_WINDOWS: ${{ matrix.arch }}
          CIBW_MANYLINUX_X86_64_IMAGE: ${{ matrix.linux_image }}
          CIBW_MANYLINUX_AARCH64_IMAGE: ${{ matrix.linux_image }}
          CIBW_BUILD_VERBOSITY: 1
        with:
          package-dir: .
          output-dir: wheelhouse

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ matrix.arch }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event_name == 'workflow_dispatch' && inputs.branch || github.ref }}
          submodules: recursive
          fetch-depth: 0
          fetch-tags: true

      - uses: astral-sh/setup-uv@b75a909f75acd358c2196fb9a5f1299a9a8868a4

      - name: Build sdist
        run: |
          pipx run build --sdist --outdir dist .

      - name: Check metadata
        run: pipx run twine check dist/*

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-sdist
          path: dist/*.tar.gz

  upload_pypi:
    needs: [build_sdist, build_wheels]
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
      attestations: write
    if: github.event_name == 'workflow_dispatch'
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v1
        with:
          subject-path: dist/*

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          attestations: true
          verbose: true
